{% extends 'propay_ui/base.html' %}
{% block title %}
Confirm Payer Deletion
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container pt-3">
  <div class="row">
    <div class="col-3">
      <a href="{% url 'propayui-payerdetails' %}"
        class="btn btn-secondary w-100" type="button">
        back
      </a>
    </div>
  </div>
  <div class="row mt-3">
    <p class="display-3 text-center w-100">
      Card Info
    </p>
  </div>
</div>

<div class="container">
  <section name="cardinfo">
    <div class="row">
      <div class="col-3">
        <strong>
          Payment Method ID
        </strong>
      </div>
      <div class="col">
        {{card.PaymentMethodID}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Description
        </strong>
      </div>
      <div class="col">
        {{card.Description}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Card Number
        </strong>
      </div>
      <div class="col">
        {{card.ObfuscatedAccountNumber}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Expiration
        </strong>
      </div>
      <div class="col">
        {% if card.ExpirationDate %}
        {{card.ExpirationDate}} (MMYY)
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Card Type
        </strong>
      </div>
      <div class="col">
        {{card.PaymentMethodType}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Priority
        </strong>
      </div>
      <div class="col">
        {{card.Priority}}
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <strong>
          Protected
        </strong>
      </div>
      <div class="col">
        {{card.Protected}}
      </div>
    </div>
  </section>

  <section name="cardinfo-billing">
    <div class="row my-1">
      <div class="col-3">
        <strong>
          Billing Information
        </strong>
      </div>
      <div class="card col bg-light mx-3">
        {% for key, val in card.BillingInformation.items %}
          <div class="row">
            <div class="col-4">
              <strong>
                {{key}}
              </strong>
            </div>
            <div class="col">
              {{val}}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</div>

<div class="container my-5">
  <hr>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h3>Result Code: </h3>
    </div>
    <div class="col">
      {{message.ResultValue}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3">
      <h3>Result Message: </h3>
    </div>
    <div class="col">
      {{message.ResultMessage}}
    </div>
  </div>
  <div class="row mt-1">
    <div class="col-3">
      <h3>Transaction ID: </h3>
    </div>
    <div class="col">
      {{message.TransactionHistoryId}}
    </div>
  </div>
  <div class="row mt-3">
    <h4>Full Validation Message</h4>
  </div>
  <div class="row">
    <h6>{{message}}</h6>
  </div>
</div>

{% endblock %}
